/* Map container */
.mapboxgl-map {
    margin: 0 auto 5%;
    width: 100%;  /* Default map container width  */
    height: 400px; /* Default map container height */
}

/* Map marker */
.marker {
    background-image: url(../images/marker-icon.png); /* Update the file path according to your theme structure*/
    background-size: cover;
    width: 41px;
    height: 41px;
    cursor: pointer;
    margin-top: -41px;
}

/* Marker's popup button */
.mapboxgl-popup-close-button {
    background-color: #efefef;
    width: 25px;
    height: 25px;
    padding: 0;
    color: #999;
}

/* Marker's popup */
.mapboxgl-popup {
    max-width: 200px;
    top: -41px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#error {
    color: #FF0000;
}